{% extends "layout/layout.html" %}

{% block content %}
<div class="col-lg-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estadio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for club in clubes %}
            <tr>
                <td>{{ club.nombre }}</td>
                <td>{{ club.estadio }}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm showModal" data-club="{{club.id}}">
                        <span class="glyphicon glyphicon-user"></span>Ver plantilla
                    </button>
                    <button type="button" class="btn btn-default btn-sm add-modal" data-club="{{club.id}}">
                        <span class="glyphicon glyphicon-user"></span>Añadir jugador
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}